@model Invoice

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Invoice</legend>


        @*<div class="editor-label">
            Customer:
        </div>
        <div class="editor-field">
             
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceDate)
            @Html.ValidationMessageFor(model => model.InvoiceDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceDueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceDueDate)
            @Html.ValidationMessageFor(model => model.InvoiceDueDate)
        </div>

        <div class="hideField">
            @Html.EditorFor(model => model.CustomerId)
            
            @Html.EditorFor(model => model.Note)
            
            @Html.EditorFor(model => model.CreatedBy)
            @Html.EditorFor(model => model.LastUpdatedBy)
            @Html.EditorFor(model => model.CreatedOn)
            @Html.EditorFor(model => model.LastUpdatedOn)
            

            @Html.EditorFor(model => model.TaxName)
            @Html.EditorFor(model => model.TaxRate)
            @Html.EditorFor(model => model.Subtotal)
            @Html.EditorFor(model => model.TaxAmount)
            @Html.EditorFor(model => model.Balance)
            @Html.EditorFor(model => model.Total)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
